
<div class="main-films">
    <div class="main-film anim" style="--delay: .1s">
        <h2 class="main-film__title">How to do Basic Jumping and how to landing safely</h2>
        <div class="main-film__rating">
            <div class="rating__wrapper">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-check">
                    <path d="M20 6L9 17l-5-5" />
                </svg>
                <p class="rating-value">8.5</p>
            </div>
            <div class="film-detail">
                <div class="film-name">Thomas Hope</div>
                <div class="film-info">53K views <span class="seperate"></span>2 weeks ago</div>
            </div>
        </div>
        <div class="main-film__selection">...</div>
    </div>
    <div class="main-film anim" style="--delay: .2s">
        <h2 class="main-film__title">Skateboard Tips You need to know</h2>
        <div class="main-film__rating tips">
            <div class="main-film__selection">...</div>
            <div class="rating__wrapper">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-check">
                    <path d="M20 6L9 17l-5-5" />
                </svg>
                <p class="rating-value">8.5</p>

            </div>
            <div class="film-detail">
                <div class="film-name">Tony Andrew</div>
                <div class="film-info">53K views <span></span>2 weeks ago</div>
            </div>
        </div>
    </div>
</div>