<div class="backdrop js-backdrop">
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="close-icon" width="20" height="20">
        <use href="/src/images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="title-team">Our Team</h1>
    <ul class="team-list splide">
      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/Stavr101"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/95885361?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Sergey Shishkin</h3>
          <h4 class="title">Team Lead</h4>
        </div>
      </li>

      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/Stavr101"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/95885361?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Scrum Master</h4>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/MaxsaVika"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/96749210?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Viktoriia Plotitsyna</h3>
          <h4 class="title">Developer</h4>
        </div>
      </li>

      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/RuslanShyrogorov"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/96694685?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Ruslan Shyrogorov</h3>
          <h4 class="title">Developer</h4>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/Stavr101"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/95885361?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Kostiantyn Svizhenko</h3>
          <h4 class="title">Developer</h4>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/Stavr101"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/95885361?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Developer</h4>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/Stavr101"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/95885361?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Developer</h4>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/Stavr101"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/95885361?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Developer</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
