<div class="backdrop js-backdrop">
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <!-- <svg class="modal-close-icon" width="18" height="18">
        <use href=""></use>
      </svg> -->
    </button>
    <ul class="team-list splide">
      <li class="our-team">
        <div class="picture">
          <a href="https://github.com/Stavr101"
            ><img
              class="img-fluid"
              src="https://avatars.githubusercontent.com/u/95885361?v=4"
              alt="avatar"
          /></a>
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Team Lead</h4>
        </div>
        <div class="social">
          <a
            href="https://github.com/Stavr101"
            class="fa fa-github"
            aria-hidden="true"
          ></a>
        </div>
      </li>

      <li class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://avatars.githubusercontent.com/u/95885361?v=4"
            alt="avatar"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Team Lead</h4>
        </div>
        <div class="social">
          <a
            href="https://github.com/Stavr101"
            class="fa fa-github"
            aria-hidden="true"
          ></a>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://avatars.githubusercontent.com/u/95885361?v=4"
            alt="avatar"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Team Lead</h4>
        </div>
        <div class="social">
          <a
            href="https://github.com/Stavr101"
            class="fa fa-github"
            aria-hidden="true"
          ></a>
        </div>
      </li>

      <li class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://avatars.githubusercontent.com/u/95885361?v=4"
            alt="avatar"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Team Lead</h4>
        </div>
        <div class="social">
          <div>
            <a
              href="https://github.com/Stavr101"
              class="fa fa-github"
              aria-hidden="true"
            >
            </a>
          </div>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://avatars.githubusercontent.com/u/95885361?v=4"
            alt="avatar"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Team Lead</h4>
        </div>
        <div class="social">
          <a
            href="https://github.com/Stavr101"
            class="fa fa-github"
            aria-hidden="true"
          ></a>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://avatars.githubusercontent.com/u/95885361?v=4"
            alt="avatar"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Team Lead</h4>
        </div>
        <div class="social">
          <a
            href="https://github.com/Stavr101"
            class="fa fa-github"
            aria-hidden="true"
          ></a>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://avatars.githubusercontent.com/u/95885361?v=4"
            alt="avatar"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Team Lead</h4>
        </div>
        <div class="social">
          <a
            href="https://github.com/Stavr101"
            class="fa fa-github"
            aria-hidden="true"
          ></a>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://avatars.githubusercontent.com/u/95885361?v=4"
            alt="avatar"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Developer</h4>
        </div>
        <div class="social">
          <a
            href="https://github.com/Stavr101"
            class="fa fa-github"
            aria-hidden="true"
          ></a>
        </div>
      </li>
      <li class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://avatars.githubusercontent.com/u/95885361?v=4"
            alt="avatar"
          />
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Developer</h4>
        </div>
        <div class="social">
          <a
            href="https://github.com/Stavr101"
            class="fa fa-github"
            aria-hidden="true"
          ></a>
        </div>
      </li>
    </ul>
  </div>
</div>
