@keyframes bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.anim {
    animation: bottom 0.8s ease-in-out var(--delay) both;
}