.singin_btn {

    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    background-color: #ea5f5f;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.singin_btn.grey {
    background-color: #353340;
}