footer {
display: flex;
justify-content: center;
font-size: 13px;
}

.footer-svg {
    animation-name: anime;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

footer a {
    color: #ff6b0a;
}

@keyframes anime {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
a.footer-link {
    text-decoration: underline;
}


