.modal_info{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;   
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #252836;
    // overflow: auto;
}

.modal_info__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.15;

    color: #ea5f5f;
}

.wrapper_about {
    margin-bottom: 10px;
}

.wrapper_info {
    margin-bottom: 10px;
    
}

.modal_info__list {

    font-size: 5px;
}

.modal_info__item:not(:last-child),
.modal_info_render__item:not(:last-child) {
    margin-bottom: 5px;
}

@media screen and (min-width:768px){
    .modal_info{        
        width: 50%;
        margin-left: 15px;
    }

    .modal_poster{
        margin-bottom: 0;
    }
    .modal_info__title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;

        color: #ea5f5f;
    }

    .wrapper_about {
        margin-bottom: 30px;
    }

    .wrapper_info {
        margin-bottom: 25px;

    }

    .modal_info__list {

        font-size: 10px;
    }

    .modal_info__item:not(:last-child),
    .modal_info_render__item:not(:last-child) {
        margin-bottom: 10px;
    }

}





.modal_info__list{
   
    font-size: 10px;
    }
    
.modal_info__list, .modal_info_render__list{
    padding: 0;
   
}

.modal_info__item{
    color: #808191;
}


.modal_info_render__item{
margin-left: 10px;
color: white;
}


.info_data{
    display: flex;
}


.about__title{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.about__description{
    margin-bottom: 10px;
    font-size: 10px;
    color: #808191;
}