.modal_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 15px;
    padding: 10px 20px;

    border-radius: 20px;
    background-color: #252836;
}

@media screen and (min-width:768px){
    .modal_info{
        height: 480px;
        width: 45%;
    }

    .modal_poster{
        margin-bottom: 0;
    }
}

.wrapper_info{
    margin-bottom: 10px;
    overflow: auto;
}

.modal_info__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    // color: white;
   color: #ea5f5f;
}

.modal_info__list{
    margin-right: 20px;
    font-size: 10px;
    }
    
.modal_info__list, .modal_info_render__list{
    padding: 0;
    margin-bottom: 20px;
}

.modal_info__item{
    color: #808191;
}

.modal_info__item:not(:last-child), .modal_info_render__item:not(:last-child){
    margin-bottom: 10px;
}

.modal_info_render__item{
margin-left: 10px;
color: white;
}


.info_data{
    display: flex;
}

.wrapper_about{
    margin-bottom: 30px;
}

.about__title{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.about__description{
    margin-bottom: 10px;
    font-size: 10px;
    color: #808191;
}