.modal_poster{
    height: 480px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    border-radius: 20px;
    overflow: hidden;

    object-fit: cover;
    transition: 0.3s;
}

.modal_poster__img{

    width: 320px;
    border-radius: 20px;
}