.modal_poster{
    height: 480px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    border-radius: 20px;
    overflow: hidden;

    object-fit: cover;
    transition: 0.3s;
}

.modal_poster__img{

    width: 320px;
    border-radius: 20px;

        
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    animation-duration: 1s;
    animation-name: Appearance;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}

@-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }