.select-wrapper{
    position: absolute;
    display: inline-block;
    top: 10px;
    z-index: 1;
    right: 38px;
}

.video-selection{
      cursor: pointer;
  }
  
  .select_list{
      margin: 0;
      list-style: none;
      padding: 10px 3px;
      display: none;

    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    background-color: #252836;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
  
  .select_list.open {
      position: absolute;
      top: 20px;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      border: 1px solid rgba(255, 255, 255, 0.106);

    }

    .select_item{
        display: inline;
        padding: 3px;
    }

    .select-btn{
        width: 180px;
        height: 30px;

        text-align: end;
        border: none;
        color: rgba(255, 255, 255, 0.894);
        border-radius: 20px;
        background-color: #353340;
    }

    .select-btn:hover{
        background-color: #ea5f5f;
    }